/*
* wiki有对应说明文档
* http://192.168.9.55:8090/pages/worddav/preview.action?fileName=css变量名key值统计.xls&pageId=25657435
*/
.ugrid {
  display: -moz-box;
  display: -webkit-box;
  display: -ms-flexbox;
  -ms-flex-direction: column;
  -moz-box-orient: vertical;
  -webkit-box-orient: vertical;
  -ms-flex-wrap: none;
  position: relative;
}
.ugrid .control {
  overflow: visible; /* modified by liudezhi @2016-11-17 origin:hidden*/
  position: relative;
  z-index: 2;
  white-space: nowrap;
  margin-right: 10px;
}
.ugrid .control:hover {
  overflow: visible;
}
.ugrid .control li {
  display: inline-block;
  padding-right: 10px;
}
.ugrid .control li:last-child {
  padding-right: 0;
}
.ugrid .control .ubtn {
  padding: 0 13px;
  text-align: center;
}
.ugrid .control .ubtn .fa-css-add {
  font-size: 14px;
  margin: 0 5px 0 0;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
/* IE 9 */
  -moz-transform: rotate(45deg);
/* Firefox */
  -webkit-transform: rotate(45deg);
/* Safari ?o?? Chrome */
  -o-transform: rotate(45deg);
/* Opera */
}
.ugrid .control .ubtn i {
  font-size: 14px;
  margin: 0 5px 0 0;
}
.ugrid .operate {
  white-space: nowrap;
  overflow: hidden;
}
.ugrid .operate span {
  display: inline-block;
  padding-right: 10px;
}
.ugrid .operate span.single {
  visibility: hidden;
}
.ugrid .operate i {
  font-size: 16px;
  margin: 0;
  color: #999;
  cursor: pointer;
}
.ugrid .operate:hover {
  overflow: visible;
}
.ugrid .operate:hover .single {
  visibility: visible;
}
.ugrid .operate i:hover {
  color: #b3b3b3;
}
.ugrid .search>div {
  margin-left: 10px;
  position: relative;
}
.ugrid .search .union input {
  width: 230px;
}
.ugrid .search .uinput>input {
  width: 270px;
}
.ugrid .search .classic {
  display: none;
  position: relative;
}
.ugrid .search .classic input {
  height: 30px;
  width: 280px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid #d5d5d5;
  background-repeat: no-repeat;
  background-image: url("image/funne.png");
  background-position: 7px 50%;
  padding-left: 43px;
  color: #999;
  cursor: pointer;
}
.ugrid .search .classic input:focus {
  outline: none;
}
.ugrid .search .classic:hover i.fa-times-circle {
  display: block;
}
.ugrid .search .classic .arrowup {
  z-index: 1;
  left: 25px;
}
.ugrid .search .classic i.fa {
  color: #b8b8b8;
  position: absolute;
  top: 10px;
  margin: 0;
  cursor: pointer;
}
.ugrid .search .classic i.fa-angle-down {
  left: 25px;
  pointer-events: none;
}
.ugrid .search .classic i.fa-times-circle {
  right: 10px;
  opacity: 0.6;
  display: none;
}
.ugrid .search .classic i.fa-times-circle:hover {
  opacity: 1;
}
.ugrid .search .classic aside {
  position: absolute;
  left: 0;
  display: none;
}
.ugrid .search .classic ul {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #d5d5d5;
  min-width: 100px;
  box-sizing: border-box;
  position: relative;
  top: 5px;
  line-height: 30px;
  background-color: #fff;
}
.ugrid .search .classic ul li {
  border-bottom: 1px solid #d5d5d5;
  color: #666;
  cursor: pointer;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
}
.ugrid .search .classic ul li:hover {
  background-color: #0c8eff;
  color: #fff;
}
.ugrid .search .classic ul li:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.ugrid .search .classic ul li:last-child {
  border-bottom: 0;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.ugrid .ugrid_setting {
  position: absolute;
  margin-top: 11px;
  right: 8px;
}
.ugrid .fixed_head {
  width: auto;
  background: #fff;
  position: absolute;
  z-index: 1;
}
.ugrid .fixed_head .td {
  white-space: nowrap;
}
.ugrid .fixed_head .td:hover .sort {
  visibility: visible;
  background-position: -57px -10px;
}
.ugrid .table_wrap {
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
}
.ugrid .table {
  display: table;
  width: 100%;
}
.ugrid .table .head {
  opacity: 0;
}
.ugrid .table .head .td {
  white-space: nowrap;
}
.ugrid .head {
  display: table-row;
  height: 40px;
  line-height: 40px;
  font-weight: 600;
  color: #222;
  cursor: pointer;
}
.ugrid .head .sort {
  float: right;
  font-size: 12px;
  visibility: hidden;
  margin-right: 10px;
  color: #b3b3b3;
  padding-top: 2px;
  margin-top: 10px;
  height: 16px;
  width: 10px;
  background: url("image/arrow_icon.png") no-repeat;
  background-size: 150px 190px;
  background-position: -42px -10px;
}
.ugrid .head .sort.switch {
  transform: rotate(180deg);
}
.ugrid .head .td.sorted .sort {
  visibility: visible;
}
.ugrid .head .td:hover .sort {
  visibility: visible;
  background-position: -57px -10px;
}
.ugrid .tr {
  display: table-row;
  height: 40px;
  line-height: 40px;
  color: #666;
}
.ugrid .tr .ucheckbox {
  display: inline;
}
.ugrid .tr:hover {
  background-color: #f5f5f5;
}
.ugrid .td {
  border-bottom: 1px solid #e3e3e3;
  display: table-cell;
  padding-left: 10px;
  vertical-align: top;
}
.ugrid .td .blank {
  color: #ccc;
}
.ugrid .td.ellipsis {
  max-width: 100px;
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.ugrid .td.ellipsis .copyInput {
  opacity: 0;
  position: absolute;
}
.ugrid .td.ellipsis .copyTip {
  position: absolute;
  right: 0;
  opacity: 0;
  border: 1px solid #999;
  height: 20px;
  top: 10px;
  line-height: 20px;
  padding: 0 3px;
  background: #fff;
  border-radius: 3px;
  z-index: 0;
  transition: opacity linear 500ms;
}
.ugrid .td.ellipsis .copyTip.show {
  opacity: 1;
  z-index: 1;
}
.ugrid .nodata {
  margin-top: 50px;
  text-align: center;
  color: #666;
}
.ugrid .loadimg {
  display: none;
  text-align: center;
  margin-top: 50px;
}
.ugrid .page {
  height: 40px;
  line-height: 40px;
  color: #999;
/*span.start{
      color #666666
    }
    span.end{
      color #666666
    }
    span.total{
      color #666666
    }*/
}
.ugrid .paging {
  text-align: right;
/*.cur{
      height: 30px;
      border: 1px solid col_border;
      radius_little
      padding-left blank_common
      box-sizing: border-box;
      width: 30px;
    }
    .first{
      background-position: 0 0;
    }
    .prev{
      background-position: -23px 0;
    }
    .next{
      background-position: -150px 0;
    }
    .last{
      background-position: -171px 0;
    }*/
/**new style start*/
/**new style end*/
}
.ugrid .paging span {
  cursor: pointer;
}
.ugrid .paging span>i {
  background: url("image/arrow_icon.png") no-repeat;
  background-size: 150px 190px;
}
.ugrid .paging .page_common {
  border: 1px solid #d5d5d5;
  display: inline-block;
  height: 32px;
  width: 32px;
  line-height: 32px;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;
  background-color: #fff;
}
.ugrid .paging .first {
  border-right: 0;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.ugrid .paging .first>i {
  background-position: -11px -46px;
  border-right: 0;
  padding: 0 6px;
}
.ugrid .paging .first:hover i {
  background-position: -11px -62px;
}
.ugrid .paging .prev {
  border-right: 0;
}
.ugrid .paging .prev>i {
  background-position: -24px -46px;
  border-right: 0;
  padding: 0 6px;
}
.ugrid .paging .prev:hover i {
  background-position: -24px -62px;
}
.ugrid .paging .cur {
  border: 1px solid #d5d5d5;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
  padding-left: 20px;
  box-sizing: border-box;
  border-right: 0;
  border-radius: 0;
  line-height: 32px;
  background-color: #fff;
}
.ugrid .paging .slash {
  border: 1px solid #d5d5d5;
  border-left: 0;
  border-right: 0;
  display: inline-block;
  vertical-align: middle;
  height: 32px;
  box-sizing: border-box;
  line-height: 32px;
  background-color: #fff;
}
.ugrid .paging .num {
  border: 1px solid #d5d5d5;
  padding-right: 20px;
  box-sizing: border-box;
  border-left: 0;
  vertical-align: middle;
  display: inline-block;
  height: 32px;
  line-height: 32px;
  background-color: #fff;
}
.ugrid .paging .next {
  border-left: 0;
}
.ugrid .paging .next>i {
  background-position: -34px -46px;
  border-right: 0;
  padding: 0 6px;
}
.ugrid .paging .next:hover i {
  background-position: -34px -62px;
}
.ugrid .paging .last {
  border-left: 0;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.ugrid .paging .last>i {
  background-position: -47px -46px;
  border-right: 0;
  padding: 0 6px;
}
.ugrid .paging .last:hover i {
  background-position: -47px -62px;
}
.ugrid .paging .pageDown {
  display: inline-block;
  cursor: pointer;
}
.ugrid .paging .pageDown .fa-angle-down {
  position: absolute;
  margin-top: 16px;
  margin-left: -17px;
  color: #adadad;
  font-size: 14px;
}
.ugrid .paging .pageSizeDown {
  vertical-align: middle;
  margin-left: 10px;
  box-sizing: border-box;
  height: 32px;
}
.ugrid .paging .pageSizeDown span {
  background: none;
  padding-right: 10px;
}
.ugrid .paging .pageSizeDown span + i {
  margin: 6px 8px 0 0;
  padding-right: 0;
}
.ugrid.version_2 header {
  height: 60px;
}
.ugrid.version_2 header .title {
  font-size: 18px;
  color: #222;
  margin-right: 15px;
}
.ugrid.version_2 .control li {
  padding-right: 0;
}
.ugrid.version_2 .control .ubtn {
  background-color: inherit;
  background-color: transparent;
  padding: 0 8px;
}
.ugrid.version_2 .control .ubtn i {
  margin: 0 10px -6px 0;
}
.ugrid.version_2 .control .ubtn span {
  font-size: 14px;
}
.ugrid.version_2 .control .response_icon {
  display: none;
}
.ugrid.version_2 .control .response_icon.show {
  display: inline-block;
}
.ugrid.version_2 .control .ugrid_response {
  display: inline-block;
  position: static;
  border: 0px;
}
.ugrid.version_2 .control .ugrid_response li {
  display: inline-block;
}
.ugrid.version_2 .control .ugrid_response {
  display: none;
  position: absolute;
  min-width: 100px;
  min-height: 30px;
  box-sizing: content-box;
  background-color: transparent;
}
.ugrid.version_2 .control .ugrid_response ul {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #e0e0e0;
  box-shadow: 0 0 20px #e0e0e0;
  border-radius: 5px;
  background-color: #fff;
  width: auto;
  min-height: 30px;
}
.ugrid.version_2 .control .ugrid_response ul li {
  display: block;
  margin: 5px 0;
  padding: 4px;
}
.ugrid.version_2 .control .ugrid_response ul li:hover {
  background-color: #e2e2e2;
}
.ugrid.version_2 .control .ugrid_response ul:before {
  border: solid 7px transparent;
  border-bottom: 7px solid #e0e0e0;
  width: 0;
  height: 0;
  content: '';
  position: absolute;
  left: 14px;
  top: -14px;
}
.ugrid.version_2 .control .ugrid_response ul:after {
  border: solid 6px transparent;
  border-bottom: 6px solid #fff;
  width: 0;
  height: 0;
  content: '';
  position: absolute;
  left: 15px;
  top: -12px;
}
.ugrid.version_2 .control .ugrid_response.stealth {
  display: block;
  opacity: 0;
}
.ugrid.version_2 .container {
  padding: 25px 20px;
  border: 1px solid #d5d5d5;
  border-radius: 5px;
  background-color: #fff;
}
.ugrid.version_2 .search > div {
  margin-right: 10px;
  margin-left: 0;
}
.ugrid.version_2 .search>div:last-child {
  margin-right: 0;
}
.ugrid.version_2 .search .mix {
  border: 1px solid #d5d5d5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #fff;
}
.ugrid.version_2 .search .mix .ubtn {
  float: left;
  border: 0;
}
.ugrid.version_2 .search .mix .uinput {
  float: left;
  border-left: 1px solid #d5d5d5;
}
.ugrid.version_2 .search .mix .uinput .input {
  border: 0;
}
.ugrid.version_2 .search .mix .uinput .icon {
  margin-top: 8px;
  cursor: pointer;
}
.ugrid.version_2 .fixed_head .td {
  font-size: 12px;
  white-space: nowrap;
}
/*****************************action icons start**************************************/
.ugrid.version_2 .control li .ubtn[disabled] .ugrid_icon {
  opacity: 0.7;
}
.ugrid.version_2 .control li .ubtn[disabled] span {
  color: #999;
}
.ugrid.version_2 .control li .ubtn:not([disabled]):hover span {
  color: #ab1a86;
}
.ugrid.version_2 .ugrid_icon {
  background-image: url("image/ation_icons.png");
  background-size: 50px 600px;
  width: 21px;
  height: 21px;
  line-height: 24px;
  margin-bottom: -6px;
}
.ugrid.version_2 .ugrid_icon.ugrid_icon_add {
  background-position: 0px -1px;
}
.ugrid.version_2 .ugrid_icon.ugrid_icon_delete {
  background-position: 0px -47px;
}
.ugrid.version_2 .ugrid_icon.ugrid_icon_modify {
  background-position: 0px -24px;
}
.ugrid.version_2 .ugrid_icon.ugrid_icon_refresh {
  background-position: 0px -113px;
}
.ugrid.version_2 .ugrid_icon.ugrid_icon_start {
  background-position: 0px -69px;
}
.ugrid.version_2 .ugrid_icon.ugrid_icon_stop {
  background-position: 0px -91px;
}
.ugrid.version_2 .ugrid_icon.ugrid_icon_replace {
  background-position: 0px -136px;
}
.ugrid.version_2 .ugrid_icon.ugrid_icon_install {
  background-position: 0px -182px;
}
.ugrid.version_2 .ugrid_icon.ugrid_icon_layer {
  background-position: 0px -204px;
}
.ugrid.version_2 .ugrid_icon.ugrid_icon_delete_layer {
  background-position: 0px -226px;
  margin-bottom: -4px;
}
.ugrid.version_2 .ugrid_icon.ugrid_icon_loacl {
  background-position: 0px -271px;
}
.ugrid.version_2 .ugrid_icon.ugrid_icon_remote {
  background-position: 0px -247px;
  margin-bottom: -5px;
}
.ugrid.version_2 .ugrid_icon.ugrid_icon_unremote {
  background-position: 0px -315px;
  margin-bottom: -5px;
}
.ugrid.version_2 .ugrid_icon.ugrid_icon_clone {
  background-position: 0px -294px;
  margin-bottom: -5px;
}
.ugrid.version_2 .ugrid_icon.ugrid_icon_flatten {
  background-position: 0px -361px;
}
.ugrid.version_2 .ugrid_icon.ugrid_icon_resize {
  background-position: 0px -338px;
}
.ugrid.version_2 .ugrid_icon.ugrid_icon_rollback {
  background-position: 0px -271px;
}
.ugrid.version_2 .ugrid_icon.ugrid_icon_redeploy {
  background-position: 0px -158px;
}
.ugrid.version_2 .ugrid_icon.ugrid_icon_more {
  background-position: 0px -429px;
}
.ugrid.version_2 .ugrid_icon.ugrid_icon_mount {
  background-position: 0px -475px;
}
.ugrid.version_2 .ugrid_icon.ugrid_icon_umount {
  background-position: 0px -452px;
}
.ugrid.version_2 .control li .ubtn:not([disabled]):hover .ugrid_icon_add {
  background-position: -25px -1px;
}
.ugrid.version_2 .control li .ubtn:not([disabled]):hover .ugrid_icon_delete {
  background-position: -25px -47px;
}
.ugrid.version_2 .control li .ubtn:not([disabled]):hover .ugrid_icon_modify {
  background-position: -25px -24px;
}
.ugrid.version_2 .control li .ubtn:not([disabled]):hover .ugrid_icon_refresh {
  background-position: -25px -113px;
}
.ugrid.version_2 .control li .ubtn:not([disabled]):hover .ugrid_icon_start {
  background-position: -25px -69px;
}
.ugrid.version_2 .control li .ubtn:not([disabled]):hover .ugrid_icon_stop {
  background-position: -25px -91px;
}
.ugrid.version_2 .control li .ubtn:not([disabled]):hover .ugrid_icon_replace {
  background-position: -25px -136px;
}
.ugrid.version_2 .control li .ubtn:not([disabled]):hover .ugrid_icon_install {
  background-position: -25px -182px;
}
.ugrid.version_2 .control li .ubtn:not([disabled]):hover .ugrid_icon_layer {
  background-position: -25px -204px;
}
.ugrid.version_2 .control li .ubtn:not([disabled]):hover .ugrid_icon_delete_layer {
  background-position: -25px -226px;
}
.ugrid.version_2 .control li .ubtn:not([disabled]):hover .ugrid_icon_loacl {
  background-position: -25px -271px;
}
.ugrid.version_2 .control li .ubtn:not([disabled]):hover .ugrid_icon_remote {
  background-position: -25px -247px;
}
.ugrid.version_2 .control li .ubtn:not([disabled]):hover .ugrid_icon_unremote {
  background-position: -25px -315px;
}
.ugrid.version_2 .control li .ubtn:not([disabled]):hover .ugrid_icon_clone {
  background-position: -25px -294px;
}
.ugrid.version_2 .control li .ubtn:not([disabled]):hover .ugrid_icon_flatten {
  background-position: -25px -361px;
}
.ugrid.version_2 .control li .ubtn:not([disabled]):hover .ugrid_icon_resize {
  background-position: -25px -338px;
}
.ugrid.version_2 .control li .ubtn:not([disabled]):hover .ugrid_icon_rollback {
  background-position: -25px -271px;
}
.ugrid.version_2 .control li .ubtn:not([disabled]):hover .ugrid_icon_redeploy {
  background-position: -25px -158px;
}
.ugrid.version_2 .control li .ubtn:not([disabled]):hover .ugrid_icon_more {
  background-position: -25px -429px;
}
.ugrid.version_2 .control li .ubtn:not([disabled]):hover .ugrid_icon_mount {
  background-position: -25px -475px;
}
.ugrid.version_2 .control li .ubtn:not([disabled]):hover .ugrid_icon_umount {
  background-position: -25px -452px;
}
/*****************************action icons end**************************************/
/*****************************listauto start**************************************/
.ugrid.listauto .tr {
  height: auto;
  line-height: normal;
}
.ugrid.listauto .tr .td {
  padding: 12px 0 12px 10px;
  vertical-align: middle;
}
/*****************************listauto start**************************************/
@media screen and (max-width: 1070px) {
  .ugrid .search .uinput>input {
    width: 190px;
  }
}
/*******************************************************************/
